<header>
  <nav>
  </nav>
</header>
<main id="tabla_cab">
  <aside>
  </aside>
  <section id="fila_cab">
    <div class="celda" id="celda1">
      <H1 id="titulo_principal">MI ALARMA</H1>
      <img id="img_logo" src="../../assets/images/lgo.png" />
    </div>
    <div class="celda" id="celda2">
      <div class="containerDer">
        <div id="tituloLogin" class="divLogin">
          <p id="fix1"></p>
          <p id="tituloIngresar">Ingresar</p>
        </div>
        <div id="divDatosLogin" class="divLogin">
          <label class="lblLogin linea" for="txtnombre">Nombre</label>
          <input class="input_text linea" id="txtnombre" type="text" />
          <label class="lblLogin linea" for="txtpassword">Contraseña</label>
          <input class="input_text linea" id="txtpassword" type="password" />

          <button class="boton linea" routerLink="/alarmas"><span class="textBoton">Ingresar</span></button>
          <button class="boton linea" id="btnFacebook" routerLink="/alarmas">Ingresar con FaceBook</button>
        </div>
        <a class="linea enlaces" routerLink="/login">Olvidaste la Clave?</a>
        <a class="linea enlaces" routerLink="/login">INSCRIBETE</a>
      </div>
    </div>
  </section>
  <div id="fondo0">
  </div>
</main>
<footer>

</footer>



